/**
 * @description Styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
:root {
  --primary: hsl(0, 0%, 20%);
}

body {
  background-color: var(--primary);
  background-image: radial-gradient(
    circle,
    hsl(210, 3%, 26%) 0%,
    hsl(200, 4%, 14%) 50%
  );
}
